.Home__container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
}

.Home__filtros {
  background-color: #232363;
  width: 22%;
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 0.2rem solid var(--color-border);
}

.Home__filtros__incom {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.2rem solid var(--color-border);
}

.Home__filtros__incom h1 {
  color: var(--color-primario);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

.Home__filtros__incom__select {
  width: 60%;
}

.Home__filtros__expense {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.2rem solid var(--color-border);
}

.Home__filtros__expense h1 {
  color: var(--color-primario);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

.Home__box {
  width: 95%;
  height: 90%;
  background-image: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background: var(--color-background);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
}

.info_user > h2 {
  font-size: 20px;
  color: var(--color-title);
}

.cards {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container_item {
  margin-top: 1rem;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  box-shadow: var(--boxShadow);
  border-radius: 20px;
}

.addItem {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.addItem > h1 {
  font-size: 24px;
  color: rgb(112, 112, 255);
  margin: 0;
}

.iconAdd {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.container_expenses {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
