.AddExpense__container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddExpense__form {
  width: 30%;
  height: 80%;
  background-color: #9801e6;
  border-radius: 20px;
  border: 0.1rem solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.AddExpense__label_input {
  display: flex;
  flex-direction: column;
}

.AddExpense__form label {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
}

.AddExpense__form input {
  border: none;
  border-radius: 10px;
}

.AddExpense__form p {
  color: rgb(133, 0, 0);
  margin-bottom: -1rem;
  margin-top: 0.2rem;
}

.AddExpense__form button {
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  border: unset;
  border-radius: 10px;
  color: #fff;
  z-index: 1;
  background: none;
  position: relative;
  font-weight: 1000;
  font-size: 1rem;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.AddExpense__form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #560bad;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.AddExpense__form button:hover {
  color: #fff;
  cursor: pointer;
}

.AddExpense__form button:hover::before {
  width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
  .AddExpense__form {
    width: 80%;
    height: 70vh;
  }
}
