@import "react-calendar/dist/Calendar.css";
.AddIncom__container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddIncom__form {
  width: 35%;
  height: 80%;
  background-color: var(--color-card);
  border-radius: 20px;
  border: 0.1rem solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.AddIncom__label_input {
  display: flex;
  flex-direction: column;
}

.AddIncom__form label {
  color: var(--color-letras);
  font-size: 1.3rem;
  font-weight: 800;
}

.AddIncom__form input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 2rem;
}

.calendar {
  position: absolute;
  left: 70%;
  bottom: 15%;
  z-index: 10;
  width: 25%;
  height: 50vh;
  padding: 1rem;
  background-color: var(--color-primario);
  border: none;
}

.AddIncom__form p {
  color: rgb(133, 0, 0);
  margin-bottom: -1rem;
  margin-top: 0.2rem;
}

.AddIncom__form .AddIncom__button_submit {
  padding: 0.5rem 1rem;
  border: unset;
  border-radius: 10px;
  color: var(--color-letras);
  z-index: 1;
  background: var(--color-background-button);
  position: relative;
  font-weight: 1000;
  font-size: 1rem;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.AddIncom__form .AddIncom__button_submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: var(--color-hover-button);
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.AddIncom__form .AddIncom__button_submit:hover {
  color: #fff;
  cursor: pointer;
}

.AddIncom__form .AddIncom__button_submit:hover::before {
  width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 375px) {
  .AddIncom__form {
    width: 80%;
    height: 70vh;
  }
}
