@import "react-calendar/dist/Calendar.css";
.AddIncom__container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background);
}

.AddIcom_goBack {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 20px;
  background: var(--color-background);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
}

.AddIncom__form {
  width: 25%;
  height: 80%;
  background-color: var(--color-cards);
  box-shadow: var(--boxShadow);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.AddIncom__label_input {
  display: flex;
  flex-direction: column;
}

.AddIncom__form label {
  color: var(--color-letras);
  font-size: 1.3rem;
  font-weight: 800;
}

.AddIncom__form input {
  border-radius: 50px;
  background: var(--color-background-input);
  box-shadow: var(--boxShadow);
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--color-letras-black);
  border: none;
}
.AddIncom__form input:focus {
  outline: transparent;
}

.calendar {
  position: absolute;
  z-index: 10;
  width: 25%;
  height: auto;
  padding: 1rem;
  border: none;
}
.AddIncom__form p {
  color: red;
  margin-bottom: -1rem;
  margin-top: 0.2rem;
}

.AddIncom__form .AddIncom__button_submit {
  margin-top: 1rem;
  height: 40px;
  padding: 0 20px;
  border-radius: 98px;
  border: transparent solid 3px;
  font-size: 20px;
  background: var(--color-primary-button);
  color: var(--color-text-button);
  box-shadow: var(--boxShadow);
}

.AddIncom__form .AddIncom__button_submit:active {
  transition: 100ms ease-in-out;
  border: var(--color-primary-button) solid 3px;
  box-shadow: var(--button-press);
}

.calendar__responsive {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
  .AddIncom__container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .AddIncom__form {
    margin-top: 2rem;
    height: 70vh;
  }
  .calendar__responsive {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .calendar {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .AddIncom__form {
    width: 50%;
  }
  .calendar__responsive {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .calendar {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .AddIncom__container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .AddIncom__form {
    margin-top: 2rem;
    width: 80%;
    height: 70vh;
  }
  .calendar {
    display: none;
  }
  .calendar__responsive {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
