:root {
  --color-overview: #8689d9;
  --color-card-overview: #232363;
}

.Landing__container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  background: var(--color-background);
}

.Landing__overview {
  width: 60%;
  height: 65vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  border-radius: 50px;
  background: var(--color-cards);
  box-shadow: 27px 27px 53px #b4b4b4, -27px -27px 53px #eeeeee;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  left: 2%;
  background: var(--color-cards);
}

.img h1 {
  font-weight: 900;
  color: var(--color-text-button);
  text-shadow: -10px -10px 30px var(--color-light),
    10px 10px 30px var(--color-dark);
  font-size: 2rem;
}

.Landing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  left: 4%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: var(--color-cards);
}

.Landing__card div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Landing__card h1 {
  font-weight: 900;
  color: var(--color-title);
  text-shadow: -10px -10px 30px var(--color-light),
    10px 10px 30px var(--color-dark);
  font-size: 2rem;
}

.Landing__card h4 {
  color: var(--color-text-button);
  text-shadow: -10px -10px 30px var(--color-light),
    10px 10px 30px var(--color-dark);
  font-size: 1rem;
}
.Landing__button {
  height: 60px;
  padding: 0 30px;
  border-radius: 98px;
  border: transparent solid 3px;
  font-size: 18px;
  background: var(--color-primary-button);
  color: var(--color-text-button);
  box-shadow: var(--boxShadow);
}

.Landing__button:active {
  transition: 100ms ease-in-out;
  border: var(--color-primary-button) solid 3px;
  box-shadow: var(--button-press);
}

/* RESPONSIVE */

@media screen and (max-width: 490px) {
  .Landing__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Landing__card {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .Landing__overview {
    width: 90%;
    height: 45vh;
  }
  .img {
    width: 45%;
  }
  .img img {
    width: 15rem;
    height: 15rem;
  }
  .Landing__card {
    width: 55%;
  }
}
