:root {
  --color-overview: #8689d9;
  --color-card-overview: #232363;
}

.Landing__container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.Landing__overview {
  width: 60%;
  height: 65vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  background-color: var(--color-overview);
  border-radius: 20px;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  left: 2%;
}

.img h1 {
  font-weight: 900;
  color: var(--color-letras-overview);
  text-shadow: 1px 2px 3px #2e2ef9;
  font-size: 2rem;
}

.Landing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--color-card-overview);
  position: relative;
  left: 4%;
}

.Landing__card div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Landing__card h1 {
  font-weight: 900;
  color: var(--color-letras-overview);
  text-shadow: 1px 2px 3px #7878bd;
  font-size: 2rem;
}

.Landing__card h4 {
  color: var(--color-letras-overview);
  font-size: 1rem;
}
.Landing__button {
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  color: var(--color-letras);
  z-index: 1;
  background: var(--color-background-button);
  position: relative;
  font-weight: 1000;
  font-size: 15px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.Landing__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-hover-button-overview);
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.Landing__button:hover {
  color: #fff;
  cursor: pointer;
}

.Landing__button:hover::before {
  width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 490px) {
  .Landing__card {
    width: 80%;
    height: 45vh;
  }
}
