.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: var(--boxShadow);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section_buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section_buttons > h3 {
  color: rgb(112, 112, 255);
}

.buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons aside {
  position: relative;
  width: 60px;
}

.buttons img {
  width: 30px;
  height: 30px;
}

.buttons button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}

.buttons a {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}

.section_info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section_info > h3 {
  font-size: 18px;
}
